.bg-theme{
  background-color: #8c7ae6;
}

.cart-icon{
  font-size: 2rem;
}

.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-background{
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-warning{
  padding: 8px 35px;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
footer p {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}